body{
    font-family:sans-serif;
}
#changePW_div{
    display:none;
}

img{
    width:150px;
    height:auto;
}
.img_display{
    display:block;
    margin:10px;
    width:100%;
    height:auto;
}
#single_img{
    z-index: 5;
    position:relative;
    top:0;
    right:0;
    width:250px;
    height:auto;
    float:right;
    color:#fff;
    background-color:#000;
}
.comments{
    margin:20px;
}
#info{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:300px;
    height:600px;
    margin:auto;
    padding:10px;
    z-index:5;
    background-color:#fff;
    box-shadow: 20px 20px 20px #999
}
#close{
    float:right;
}
.img_title, #close{
    cursor:pointer;
}