
<div id="display" ng-controller='TitlesControl'>
    <h1>All Images</h1>

    <div class="img_display" ng-repeat='img in imgs'>
        <h2 class="img_title" id="{{img.img_id}}" ng-click="view(img.img_id)">Title: {{img.img_title}}</h2><br/>

    </div>

    <!--<div id="single_img" ng-repeat="one in ones">
        <div id="close">CLOSE</div>
        <img src="img/{{one.img_url}}"/>
        <h1>Title: {{one.img_title}}</h1>
        <h4>Desc: {{one.img_desc}}</h4>
        <h3>Comments:</h3>
        <div ng-repeat="comment in comments">{{comment.msg}}</div>
    </div>-->

</div>

<script>

///////////////////ANGULAR JS///////////////////

</script>

